Repository dionseid/digitalbooking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update ECR token, trigger_a

.gitlab-ci.yml:

# stages:
#   - infra
#   - compile
#   - docker
#   - test
#   - deploy

# variables:
#   APP_VERSION: $CI_PIPELINE_IID
#   TF_ROOT: ${CI_PROJECT_DIR}/infra  # The relative path to the root directory of the Terraform project
#   # ---------------------------------------------------------------------------- #
#   #                  Pero tengo backend de Terraform en S3                       #
#   # ---------------------------------------------------------------------------- #
#   TF_STATE_NAME: ${TF_STATE_NAME:-default}

# cache:
#   key: "${TF_ROOT}"
#   paths:
#     - ${TF_ROOT}/.terraform/

# compile backend:
#   stage: compile
#   script: 

# compile frontend:  
#   stage: compile
#   image: node:10  
#   script:   
#     - npm install ./front/proyecto/
#     - npm build ./front/proyecto/package.json
#     - echo $APP_VERSION > ./front/proyecto/build/version.html
#   artifacts:    
#     paths:      
#       - ./front/proyecto/build
#   only:    
#     refs:      
#       - main

# build docker image:
#   stage: docker
#   image: adoptopenjdk/openjdk11:alpine-jre
#   script:
#     - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
#     - docker build -t $CI_REGISTRY_IMAGE -t $CI_REGISTRY_IMAGE:$APP_VERSION ./back/digitalbooking/ # The first tag points to our latest image
#     - docker image ls
#     - docker push --all-tags $CI_REGISTRY_IMAGE

# test docker image: 
#   stage: test 
#   image: curlimages/curl 
#   services: 
#     - name: $CI_REGISTRY_IMAGE:$APP_VERSION 
#       alias: frontend 
#   script: 
#     - curl http://frontend/version.html | grep $APP_VERSION

# deploy to production:
#   image:
#     name: amazon/aws-cli:2.4.11
#     entrypoint: [""]
#   stage: deploy
#   #environment: production
#   script:
#     - aws --version
#     - yum install -y gettext
#     - export DEPLOY_TOKEN=$(echo $GITLAB_DEPLOY_TOKEN | tr -d "\n" | base64)
#     - envsubst < eb-templates/Dockerrun.aws.json > Dockerrun.aws.json
#     - envsubst < eb-templates/auth.json > auth.json
#     - cat Dockerrun.aws.json
#     - cat auth.json
#     - aws s3 cp Dockerrun.aws.json s3://$AWS_S3_BUCKET/Dockerrun.aws.json
#     - aws s3 cp auth.json s3://$AWS_S3_BUCKET/auth.json

stages:
  - updates
  - triggers

update ECR token:
  stage: updates
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" 
    - changes:
      - front/*
  trigger:
    include: front/.gitlab-ci.yml

trigger_a:
  stage: triggers
  trigger:
    include: front/proyecto/.gitlab-ci.yml
  rules:
    - if: $CI_PIPELINE_SOURCE != "schedule" 
    - changes:
      - front/proyecto/*

Comento '--silent' --» Aún no entiendo func
  front/.gitlab-ci.yml
Due: update ECR token

Testeando
  .gitlab-ci.yml
  front/.gitlab-ci.yml
Due: update ECR token

Testeando arch child/parent
  .gitlab-ci.yml
Due: none

Volviendo a probar opciones de curl
  front/.gitlab-ci.yml
Due: update ECR token

Testeando
  front/.gitlab-ci.yml
Due: update ECR token

Testeando GITLAB_PERSONAL_ACCESS_TOKEN
  front/.gitlab-ci.yml
Due: update ECR token

Testeando AWS_ECR_AUTH sin opciones de curl
  front/.gitlab-ci.yml
Due: update ECR token

Testeando sintaxis de curl
  front/.gitlab-ci.yml
Due: update ECR token

Reincorporo opciones de curl
  front/.gitlab-ci.yml
Due: update ECR token

Pruebo sintaxis de URL en curl
  front/.gitlab-ci.yml
Due: update ECR token

Actualizo condición para update ECR token
  .gitlab-ci.yml
  front/.gitlab-ci.yml
Due: update ECR token

Testeo job 'deploy to production'
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

Agrego templates de Elastic Beanstalk
  front/proyecto/eb-templates/Dockerrun.aws.json
  front/proyecto/eb-templates/auth.json
Due: none

Corrijo rutas en 'deploy to production'
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

primer deployment a Elastic Beanstalk con S3
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

Arreglo rutas a los comandos de EB para le bucket
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

Testeo deployment front. Corrijo path de auth.json
  front/proyecto/.gitlab-ci.yml
  front/proyecto/eb-templates/Dockerrun.aws.json
Due: trigger_a

modificación clase producto
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Producto.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/ProductoService.java
Due: none

agregada tabla de caracteristicas desde la base de datos
  front/proyecto/package-lock.json
  front/proyecto/package.json
  front/proyecto/public/index.html
  front/proyecto/src/components/Caracteristicas.jsx
  front/proyecto/src/pages/Productos.js
  front/proyecto/src/styles/caracteristicas.css
  front/proyecto/src/styles/cards.css
  front/proyecto/src/styles/pages/productos.css
Due: trigger_a

Alojé ELB de EB en primer subred pública
  infra/main.tf
  infra/modules/eb/main.tf
  infra/modules/eb/variables.tf
Due: none

Agrego cambios en el controller
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/DigitalbookingApplication.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/ImagenController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/PoliticaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/TipoDePoliticaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Categoria.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Politica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Producto.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/repository/PoliticaRepository.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/repository/TipoDePoliticaRepository.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/CiudadService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/ImagenService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/PoliticaService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/ProductoService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/TipoDePoliticaService.java
  back/digitalbooking/src/main/resources/application.properties
Due: none

dandole estilos a la pagina de productos y haciendola responsibe
  front/proyecto/package.json
  front/proyecto/src/components/Calendario.jsx
  front/proyecto/src/components/elementStyle/CalendarStyle.js
  front/proyecto/src/pages/Productos.js
  front/proyecto/src/styles/calendario.css
  front/proyecto/src/styles/caracteristicas.css
  front/proyecto/src/styles/pages/productos.css
Due: trigger_a

Probando build del backend
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  back/digitalbooking/Dockerfile
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

Pruebo pushear backend a ECR
  back/digitalbooking/.gitlab-ci.yml
Due: none

Arreglé stages
  back/digitalbooking/.gitlab-ci.yml
Due: none

Probando arreglar ruta de ARG JAR_FILE=back
  back/digitalbooking/Dockerfile
Due: none

Pruebo arreglar Dockerfile de backend
  back/digitalbooking/Dockerfile
Due: none

Trato de arreglar ruta en Dockerfile de back
  back/digitalbooking/Dockerfile
Due: none

actualizo clase politica
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/PoliticaController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Caracteristica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Producto.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/repository/ProductoRepository.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/CaracteristicaService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/PoliticaService.java
  back/digitalbooking/src/main/resources/application.properties
Due: none

implementado el componente Regla
  front/proyecto/src/components/Reglas.jsx
  front/proyecto/src/pages/Productos.js
  front/proyecto/src/styles/cards.css
  front/proyecto/src/styles/navbar.css
  front/proyecto/src/styles/reglas.css
Due: none

trayendo cambios
  back/digitalbooking/src/main/resources/application.properties
Due: none

Probando deployment de dos contenedores
  .gitlab-ci.yml
  eb-templates/Dockerrun.aws.json
  eb-templates/auth.json
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

Agregué stage 'update' para scheduled job
  .gitlab-ci.yml
Due: none

productos controller funcionando
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Caracteristica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Imagen.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Politica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Producto.java
Due: none

Pruebo deployment de backend y frontend
  .gitlab-ci.yml
  eb-templates/Dockerrun.aws.json
  front/proyecto/package.json
Due: trigger_a
