Repository dionseid/digitalbooking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update ECR token, trigger_a

update ECR token:
  stage: updates
  trigger:
    include: front/.gitlab-ci.yml

trigger_a:
  stage: triggers
  trigger:
    include: front/proyecto/.gitlab-ci.yml

corrigiendo login y problema del localStorage
  front/proyecto/package-lock.json
  front/proyecto/package.json
  front/proyecto/src/components/GoogleMaps.jsx
  front/proyecto/src/components/Navbar.jsx
  front/proyecto/src/components/Sidebar.jsx
  front/proyecto/src/styles/pages/productos.css
  front/proyecto/src/styles/reglas.css
Due: trigger_a

Agregué 'strategy: depend' a parent pipeline
  .gitlab-ci.yml
Due: none

Corrijo errores en declaracion de cascadeType
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Caracteristica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Imagen.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Politica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Producto.java
  back/digitalbooking/src/main/resources/application.properties
Due: none

Modifiqué --page-size a 60
  .gitlab-ci.yml
Due: none

subo postman collection
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Caracteristica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Producto.java
Due: none

Postman collection
  testing/Proyecto integrador.postman_collection.json
Due: none

Actualizo Postman collection y metodos buscar producto por ciudad y por categoria
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/DigitalbookingApplication.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/CiudadController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/controller/ProductoController.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Caracteristica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Categoria.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Ciudad.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Imagen.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Politica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Producto.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/repository/ProductoRepository.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/CategoriaService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/CiudadService.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/service/ProductoService.java
  back/digitalbooking/src/main/resources/application.properties
  front/proyecto/package-lock.json
  testing/Proyecto integrador.postman_collection.json
Due: trigger_a

Probando paginación
  .gitlab-ci.yml
Due: none

Pruebo sin PaginationConfig
  .gitlab-ci.yml
Due: none

Pruebo deployar a EB con docker-compose y dir s3
  .gitlab-ci.yml
  eb-templates/Dockerrun.aws.json
  eb-templates/config.json
  eb-templates/docker-compose.yml
  front/proyecto/eb-templates/Dockerrun.aws.json
  infra/main.tf
  infra/modules/db/main.tf
Due: none

docker system prune en build docker image (back)
  back/digitalbooking/.gitlab-ci.yml
Due: none

Comento docker system prune
  back/digitalbooking/.gitlab-ci.yml
Due: none

Pruebo deployment con '.zip' como source bundle
  .gitlab-ci.yml
Due: none

agrego der-mysql
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Caracteristica.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Imagen.java
  back/digitalbooking/src/main/java/com/grupo8/digitalbooking/model/Politica.java
  back/digitalbooking/src/main/resources/application.properties
  back/digitalbookingDer.mwb
Due: none

Instalé comando zip en job deploy to production
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

Corregí nombre de servicios en docker-compose.yml
  eb-templates/docker-compose.yml
Due: none

conectada la pagina de productos
  front/proyecto/src/App.js
  front/proyecto/src/components/BootstrapCarousel.jsx
  front/proyecto/src/components/Caracteristicas.jsx
  front/proyecto/src/components/CardRecomendaciones.jsx
  front/proyecto/src/components/DescripcionProducto.jsx
  front/proyecto/src/components/Galeria.jsx
  front/proyecto/src/components/GoogleMaps.jsx
  front/proyecto/src/components/Reglas.jsx
  front/proyecto/src/components/UbicacionProducto.jsx
  front/proyecto/src/pages/Productos.js
Due: none

corrigiendo conexion con ubicacionProducto y reglas
  front/proyecto/src/components/Reglas.jsx
  front/proyecto/src/components/UbicacionProducto.jsx
  front/proyecto/src/pages/Productos.js
Due: none

ultimos cambios
  back/digitalbooking/src/main/resources/application.properties
Due: none

Corregí sintaxis YML del docker-compose para ports
  eb-templates/docker-compose.yml
Due: none

mejorando renderizado en ubicacionProducto
  front/proyecto/src/components/UbicacionProducto.jsx
Due: none

Saqué node_modules del caché y hago un artefacto
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

Acorto pipeline de front para ahorrar recursos
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

Cambié nombre de services en docker-compose
  eb-templates/docker-compose.yml
Due: none

Encerré puertos entre comillas, en docker-compose
  eb-templates/docker-compose.yml
Due: none

Intento hacer coincidir versiones de las imágenes
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

arrancando filtro de ciudades
  front/proyecto/src/components/Banner.jsx
  front/proyecto/src/components/BootstrapCarousel.jsx
  front/proyecto/src/components/CardRecomendaciones.jsx
  front/proyecto/src/components/Reglas.jsx
  front/proyecto/src/components/SelectCiudades.jsx
  front/proyecto/src/components/TituloProducto.jsx
  front/proyecto/src/pages/Home.js
  front/proyecto/src/pages/Productos.js
  front/proyecto/src/styles/caracteristicas.css
  front/proyecto/src/styles/reglas.css
Due: none

--cache-from y .platform hook
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  eb-templates/.platform/hook/predeploy/docker_login.sh
  eb-templates/Dockerrun.aws.json
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

pipeline con DOCKER_DRIVER: overlay
  .gitlab-ci.yml
  back/digitalbooking/.gitlab-ci.yml
  front/proyecto/.gitlab-ci.yml
Due: trigger_a

ZIPs se deployarán con versión CI_PIPELINE_IID
  .gitlab-ci.yml
Due: none

Elimino container_name de docker-compose
  eb-templates/docker-compose.yml
Due: none

Corrijo sintaxis ants d probar otra -v de aws.json
  eb-templates/docker-compose.yml
Due: none

Corrijo comando zip
  .gitlab-ci.yml
Due: none

Correjí ruta que toma comando zip
  .gitlab-ci.yml
Due: none

Corrijo rutas que toma zip para luego enviar a S3
  .gitlab-ci.yml
  eb-templates/docker-compose.yml
Due: none

Corrijo ruta de comando cp
  .gitlab-ci.yml
Due: none

Dockerrun.aws.json -v 3
  .gitlab-ci.yml
  eb-templates/.dockercfg
  eb-templates/Dockerrun.aws.json
  infra/modules/eb/main.tf
Due: none

Dockerrun.aws.json -v 2 multicontainer
  .gitlab-ci.yml
  eb-templates/Dockerrun.aws.json
Due: none

Simplifiqué pipeline parent/child
  .gitlab-ci.yml
  front/.gitlab-ci.yml
Due: update ECR token

Path conditions:
  update ECR token: any of: front/*
  trigger_a: any of: front/proyecto/*
